<?xml version="1.0" ?>

<launch>
  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="mode" default="command" />
  <!-- <param name="robot_description" textfile="/home/mohak/workspace/stochastic_control/content/assets/urdf/franka_description/franka_panda_no_gripper.urdf" /> -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro $(find franka_panda_description)/robots/panda_arm.urdf.xacro" /> -->
  <arg name="prefix" default="franka_motion_control" />
  <arg name="joint_states_topic" default="joint_states" />
  <arg name="joint_command_topic" default="joint_command" />
  <arg name="robot_joint_command_topic" default="robot_joint_command" /> 


  <node name="tracking_controller" type="tracking_controller_node" pkg="franka_motion_control" output="screen">
    <param name="joint_states_topic" value="$(arg joint_states_topic)" type="str" />
    <param name="joint_command_topic" value="$(arg joint_command_topic)" type="str" />
    <param name="robot_joint_command_topic" value="$(arg robot_joint_command_topic)" type="str" />
    <param name="robot_ip" value="$(arg robot_ip)" type="str" />
    <param name="mode" value="$(arg mode)" />
    <rosparam command="load" file="$(find franka_motion_control)/config/robot_settings.yaml" />
  </node>

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"> -->
      <!-- <remap from="robot_description" to="my_robot_description" /> -->
      <!-- <remap from="joint_states" to="/joint_pos_controller/joint_states" /> -->
      <!-- <param name="publish_frequency" value="1000" /> -->
  <!-- </node> -->



</launch>
